html *{
    box-sizing:border-box;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    /*padding-left: 10px;
    padding-right: 10px;*/
}

.container {
    padding: 10px 15px 0px 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    /*margin-bottom: 10px;*/
}
header{
    background-image: url(../img/logos_long.png);
    background-size: 450px;
    background-position: right top;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    min-height: 60px;
    margin-bottom: 10px;
}

#labelsB {
    /* position: absolute; */
    /*margin-left: 25px;*/
    /* margin-left: 82px; */
    font-size: 11px;
    z-index: auto;
    /*width: 90%;*/
    height: 15px;
    margin-top: 3px;
    /*line-height: 28px;*/
    /* margin-top: -18px; */
    /* text-align: left; */
    text-align: center;
}

#titleB {
    font-size: 22px;
    font-weight: bold;
    height: 28px;
    text-align: center;
    /*width: 100%;*/
}

#graphB {
    position: relative;
    z-index: 3;
    /*padding-top: 20px;*/
    height: 92px;
    width: 95%;
    /*left: 20px; right: 20px; */
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
}

#labels {
    position:relative;
    font-size: 10px;
    width: 95%;
    height: 45px;
    text-align: left;
    /*margin-left: 14px;
    margin-left: 60px;*/
    margin-right: auto;
    margin-left: auto;
}

#dynamic-control, #date-control, #date-value-control {
    display: inline-block;
}

#dynamic-control {
    margin-right: 20px;
}

.slider {
    width: 20vw;
    vertical-align: middle;
}

/* Harvestability legend */
#harvestability-legend {
    position: relative;
    z-index: 3;
    /*height: 25px;*/
    font-size: 14px;
    /*width: 100%;
    left: 20px; right: 20px;
    margin-top: 20px;*/
    /* margin-bottom: 45px; */
    margin-bottom: 40px;
    left: -32px;
    width: 103%;
}


@media only screen and (max-width: 999px){
    #harvestability-legend { margin-bottom: 55px; }
}
@media only screen and (max-width: 931px){
    #labels { height: 55px; }
 }
@media only screen and (max-width: 774px){
    #labels { height: 70px; }
    header { 
        background-image: url(../img/logos.png);
        background-size: 212px; 
    }
 }
@media only screen and (max-width: 740px){
    /*header { background-size: 47%; }
    #titleB { margin-top: 35px; }*/
    #labelsB { 
        position: relative; 
        margin-right: auto; 
        margin-left: auto; 
        text-align: center;
        /*padding-top: 5px;*/
        height: 15px;
        margin-top: 0;
    }
 }
@media only screen and (max-width: 732px){
    #dynamic-control { width: 100%; }
 }
@media only screen and (max-width: 680px){
    h1{ font-size: 4.7vw; }
 }
@media only screen and (max-width: 657px){
    #labels { height: 80px; }
 }
@media only screen and (max-width: 599px){
    #harvestability-legend { margin-bottom: 70px; }
 }
@media only screen and (max-width: 570px){
    #labels { height: 90px; }
 }
@media only screen and (max-width: 498px){
    .slider { width: 33vw; }
}
@media only screen and (max-width: 504px){
    #labels { height: 105px; }
 }
@media only screen and (max-width: 480px){
    header{ background-size: 48%; }
    h1{ font-size: 5vw; }
    summary{ font-size: 3.5vw; }
}
@media only screen and (max-width: 450px){
    #labels { height: 120px; }
 }
@media only screen and (max-width: 439px){
    #harvestability-legend { margin-bottom: 85px; }
 }
@media only screen and (max-width: 419px){
    #labels { height: 130px; }
 }
@media only screen and (max-width: 389px){
    #harvestability-legend { margin-bottom: 100px; }
}
@media only screen and (max-width: 378px){
    #harvestability-legend { margin-bottom: 110px; }
    #labels { height: 140px; }
}
@media only screen and (max-width: 365px){
    #labels { height: 150px; }
}
@media only screen and (max-width: 358px){
    .slider { width: 25vw; }
}
@media only screen and (max-width: 313px){
    #labels { height: 180px; }
}
@media only screen and (max-width: 308px){
    #harvestability-legend { margin-bottom: 120px; }
}


#header a{
    text-decoration: none;
    color: #80bf43;
    margin-bottom: 10px;
}


.legend { list-style: none; }
.legend li { float: left; margin-right: 5px; }
.legend span { border: 1px solid rgba(0, 0, 0); float: left; width: 12px; height: 12px; margin: 2px; margin-top: 1px;}

/* .legend span { border: 1px solid rgba(0, 0, 0, .8); float: left; width: 12px; height: 12px; margin: 2px; margin-top: 1px;} */

/* .legend .frostheave { background-color: rgba(0, 97, 0, .8); }
.legend .normalsummermineral { background-color: rgba(97, 153, 0, .8); }
.legend .drysummermineral { background-color: rgba(160, 219, 0, .8); }
.legend .normalsummerpeat { background-color: rgba(255, 250, 0, .8); }
.legend .drysummerpeat { background-color: rgba(255, 132, 0, .8); }
.legend .winter { background-color: rgba(255, 38, 0, .8); } */

/* .legend .frostheave { background-color: rgba(68, 119, 170, .8); }
.legend .normalsummermineral { background-color: rgba(102, 204, 238, .8); }
.legend .drysummermineral { background-color: rgba(34, 136, 51, .8); }
.legend .normalsummerpeat { background-color: rgba(204, 187, 68, .8); }
.legend .drysummerpeat { background-color: rgba(238, 102, 119, .8); }
.legend .winter { background-color: rgba(170, 51, 119, .8); } */

/* .legend .frostheave { background-color: rgba(68, 119, 170, .9); }
.legend .normalsummermineral { background-color: rgba(102, 204, 238, .9); }
.legend .drysummermineral { background-color: rgba(34, 136, 51, .9); }
.legend .normalsummerpeat { background-color: rgba(204, 187, 68, .9); }
.legend .drysummerpeat { background-color: rgba(238, 102, 119, .9); }
.legend .winter { background-color: rgba(170, 51, 119, .9); } */

/* Tol bright colormap */
/* .legend .frostheave { background-color: rgba(68, 119, 170); }
.legend .normalsummermineral { background-color: rgba(102, 204, 238); }
.legend .drysummermineral { background-color: rgba(34, 136, 51); }
.legend .normalsummerpeat { background-color: rgba(204, 187, 68); }
.legend .drysummerpeat { background-color: rgba(238, 102, 119); }
.legend .winter { background-color: rgba(170, 51, 119); } */

/* Tol muted colormap */
/* .legend .frostheave { background-color: rgba(51, 34, 136); }
.legend .normalsummermineral { background-color: rgba(136, 204, 238); }
.legend .drysummermineral { background-color: rgba(68, 170, 153); }
.legend .normalsummerpeat { background-color: rgba(17, 119, 51); }
.legend .drysummerpeat { background-color: rgba(153, 153, 51); }
.legend .winter { background-color: rgba(221, 204, 119); } */

/* Tol sunset colormap v3 */
.legend .frostheave { background-color: rgba(54, 75, 154); }
.legend .normalsummermineral { background-color: rgba(74, 123, 183); }
.legend .drysummermineral { background-color: rgba(110, 166, 205); }
.legend .normalsummerpeat { background-color: rgba(254, 218, 139); }
.legend .drysummerpeat { background-color: rgba(246, 126, 75); }
.legend .winter { background-color: rgba(165, 0, 38); }

#set-date {
    z-index: 3;
    background-color: rgb(240, 240, 240);
    padding: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
}

#set-opacity {
    /* background-color: rgb(240, 240, 240); */
    text-align: center; 
    vertical-align: middle; 
    margin-bottom: 15px;
}

#opacity, #opacity-slider, #opacity-value {
    display: inline-block;
    vertical-align: middle; 
}

#opacity-range {
    vertical-align: middle; 
}

/*
#graphB .dygraph-axis-label.dygraph-axis-label-0 { color: rgb(255, 38, 0); }
#graphB .dygraph-axis-label.dygraph-axis-label-2 { color: rgb(0, 97, 0); }
*/

#graphsw {
    position: relative;
    height: 240px;
    width: 95%;
    /*left: 20px; right: 20px;*/
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

#graphsw .dygraph-label { font-family: Helvetica, Arial, sans-serif; }

#graphsw .dygraph-title { font-size: 18px; align: left; }

#graphsw .dygraph-ylabel { font-size: 12px; }

#graphst {
    position: relative;
    height: 240px;
    width: 95%;
    /*left: 20px; right: 20px;*/ 
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

#graphst .dygraph-label { font-family: Helvetica, Arial, sans-serif;}

#graphst .dygraph-title { font-size: 18px; align: left; }

#graphst .dygraph-ylabel { font-size: 12px; }

#graphsh {
    position: relative;
    height: 240px;
    width: 95%;
    /*left: 20px; right: 20px;*/
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

#graphsh .dygraph-label { font-family: Helvetica, Arial, sans-serif;}

#graphsh .dygraph-title { font-size: 18px; align: left; }

#graphsh .dygraph-ylabel { font-size: 12px; }

.dygraph-legend { text-align: center; }

#footer {
    clear: both;
    border-top: #D8D8D8 1px solid;
    padding: 10px 0 30px;
}

#footer a{
    color: #999;;
    font-family: Georgia, serif;
    text-decoration: none;
}

#footer a.leaflet-timedimension{
    background-image: url(../img/logo-leaflettimedimension-32.png);
    background-position: top left;
    background-repeat: no-repeat; 
    display: block;
    float: left;
    padding-left: 55px;
    min-height: 32px;
    line-height: 32px;    
}

#footer a.github {
    padding-right: 40px;
    display: block;
    float: right;
    min-height: 32px;
    line-height: 32px;
    background-image: url(../img/GitHub-Mark-32px.png);
    background-position: top right;
    background-repeat: no-repeat; 
}

a.github span{
    display: none;
}

a.github:hover span{
    display: inline;
}

.leaflet-container .legend{
    background-color:#D8D8D8;
    background-color:rgba(255,255,255,.8);
    -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
    padding: 5px;
}
.leaflet-bottom.leaflet-left {
    /*bigger margin to not overlaps with attribution*/
    margin-bottom: 10px; 
}

h1, h2 {
    color: #999;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;    
    margin: 5px 0px;
}

h1 small{
    font-size: 12px;
    display: block;
}

h1 small a{
    text-decoration: none;
    color: #777;
}

ul.examples{
    list-style: none;
    padding: 0;
}

ul.examples li {
    float: left;
    margin-right: 5px;
    margin-bottom: 15px;
}

ul.examples li a{
    display: block;
    color: #444;
    background-color: #80bf43;
    width: 300px;
    min-height: 205px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
}
ul.examples li a:hover{
    text-decoration: none;
    background-color: #bae568;  
}

ul.examples li a img{
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.map{
    z-index: 3;
    height: 600px;
}

.map-loading:after{
    content: "Loading...";    
    display: inline-block;
    width: 100%;    
    height: 597px;
    line-height: 597px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    position: absolute;
}

.map.radar{
    height: 700px;   
}

.map.sirena{
    width: 816px;
    height: 597px;   
}

#map-wrapper{
    width: 1170px;
    height: 597px;  
    background-color: #bae568;
    position: relative;
}
#map-wrapper .map{
    float:left;
}

#map-wrapper .sidecontrol{
    float: right;
    color: #444;
    width: 250px;
    padding: 20px 20px;
    margin-right: 30px;
    margin-top: 30px;
    background-color: #80bf43;
    background-color: rgba(128, 191, 67, 0.49);    
}

#map-wrapper .sidecontrol span.title a{
    display: block;
    font-size: 12px;
    color: #444;
    font-family: Georgia, serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
}
#map-wrapper .sidecontrol span.date{
    display: block;
    font-size: 40px;
    color: #EEE;
    font-family: Georgia, serif;    
    margin: auto;
    text-align: center;
    border-bottom: 1px solid #EEE;
}
#map-wrapper .sidecontrol span.time{
    display: block;
    font-size: 80px;
    color: #EEE;
    font-family: Georgia, serif;
    font-weight: bold;
    margin: auto;
    text-align: center;
    margin-top: -10px;
}
#map-wrapper .sidecontrol .button-wrapper{
    margin: auto;
    text-align: center;    
}

.prev-example a, .next-example a{
    color: #222;
    display: block;
    padding: 20px;
    width: 45%; 
    background-color: #80bf43;
    margin-bottom: 50px;  
    text-decoration: none;    
}

.prev-example a{
    float: left;
}
.next-example a{
    float: right;
    text-align: right;
}

.prev-example a:before{
  font-family: "Glyphicons Halflings";
  content: "\e069";
  color: #FFF;
  margin-right: 10px;
}

.next-example a:after{
  font-family: "Glyphicons Halflings";
  content: "\e077";
  color: #FFF;
  margin-left: 10px;
}

.prev-example a:hover, .next-example a:hover{
    text-decoration: none;
    background-color: #bae568;
    color: #444;
}

.clearfix{
    clear: both;
}

.btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);    
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;    
    font-weight:bold;
    padding: 6px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);    
    background-color:#f6f6f6;
}

.btn:active {
    position:relative;
    top:1px;
}

.btn-play:before {
  font-family: "Glyphicons Halflings";
  content: "\e072";
  padding-right: 5px;
}

.btn-pause:before {
  font-family: "Glyphicons Halflings";
  content: "\e073";
  padding-right: 5px;
}

.btn-next:after {
  font-family: "Glyphicons Halflings";
  content: "\e075";
  padding-left: 5px;
}
.btn-prev:before {
  font-family: "Glyphicons Halflings";
  content: "\e071";
  padding-right: 5px;
}

.animation-progress-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0;
    background-color: #fbd448;
    z-index: 10000;
}

.chart, .chart-wrapper{
    width: 100%;
    margin-bottom: 20px;
}

.legend-wrapper {    
    margin-bottom: 45px !important;
}

.legend-wrapper .legend-div {    
    margin-left: 10px;
    background-color:#D8D8D8;
    background-color:rgba(255,255,255,.8);
    -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
    padding: 5px;
    color:black;    
}

.information{
    margin: 0 20px;
    color: #333;
}

.information a{
    color: #80bf43;
}

.disclaimer{
    margin: 20px 0;
    color: #333;
    background-color: #f0f0f0;
    font-size: 0.75em;
    padding: 5px;
}
